<!DOCTYPE html>
 <html>
    <head>
        <link rel="stylesheet" href="university.css">
    </head>
    <div id="top-bar"> 
        <div class="title">University Finder</div>
    </div>
    <div id="desc-cont">
        <table>
            <tr>
                <th><div class="uniimage"><img src="placeholder.jpeg"></div></th>
                <td>
                    <table>
                    <tr>
                        <th><tr><div class= "uniname"> university of ballin</th></tr></div>
                    </tr>
                    <tr>
                        <th><h2>Located in harghita</h2></th>
                    </tr>

                    <td><tr>
                        <td><h2>Average Reviews:</h2></td>
                        <td><div class="revimg"> <img src="revimg1.png" /></div></td>
                        <td><div class="revimg"> <img src="revimg1.png" /></div></td>
                        <td><div class="revimg"> <img src="revimg1.png" /></div></td>
                        <td><div class="revimg"> <img src="revimg2.png" /></div></td>
                        <td><div class="revimg"> <img src="revimg2.png" /></div></td>
                    </td></tr>
                </table>
                </td>
            </tr>
        </table>
        <div class="description">
            <h1>Description</h1>
            bfhr gji rwhigv wgie hewji hego hwjfdw bwjif whfjwe ghewji qehjw hgjiwg hwjog hwrjog wrhgjow hgjowr hgwroghwjogwrhgjowr hrwjog hjogh ojghworg bfhr gji rwhigv wgie hewji hego hwjfdw bwjif whfjwe ghewji qehjw hgjiwg hwjog hwrjog wrhgjow hgjowr hgwroghwjogwrhgjowr hrwjog hjogh ojghworg 
            <h1>Time</h1>
            <h1>Location</h1>
            <h1>Price</h1>
            <h1>More Details (such as cost of living and other criteria for admission)</h1>
            <h1>Ratings by other users</h1>
            <table>
                
            </table>
            <table>
                <tr>
                    <th><img src="user.png"></th>
                    <th>
                        <table>
                            <tr><th>commenter name</th></tr>
                            <tr><th><h3>comment</h3></th></tr>
                        </table>
                    </th>
                </tr>

                    

            </table>
        </div>
    </div>





 </html>