#top-bar {
    border-bottom: 5px;
}

.title {
    font: 5em serif;
    text-align: center;
    border-bottom: 5px;
}

.criteria img {
    width: 50px;
    height: 50px;
}

.profile img {
    width: 50px;
    height: 50px;
    float: right;
    
}

.searchbar input[type=text] {
    float: left;
    padding: 6px;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

#container {
    gap: 10px;
}

.university img {
    width: 50px;
    height: 50px;
}

.university {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    width: 70%;
}

