#top-bar {
    border-bottom: 5px;
}

.title {
    font: 5em serif;
    text-align: center;
    border-bottom: 5px;
}

#desc-cont  .uniimage img {
    width: 40vw;
    height: 40vw;
}
.description {
    
}