#top-bar {
    border-bottom: 5px;
}

.title {
    font: 5em serif;
    text-align: center;
    border-bottom: 10px;
    width: 100%;
    background-color: rgb(132, 0, 255);
    left: 30px;
    margin: auto;
}

#desc-cont {

}

#desc-cont  .uniimage img {
    width: 50vw;
    height: 50vw;
}
.description img {
    width: 10vw;
    height: 10vw;
}

.revimg img{
    width: 5vw;
    height: 5vw;
}

.uniname {
    font: 3em serif;
    left: 2em;
}
